# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 添加 Electron 相关忽略项
dist-electron/
.electron/
venv/
models/

# 添加 R2 相关忽略项
r2-worker/

RTC/
electron/**/*.cjs
electron/**/*.js
*.mdc
coverage/
electron/**/*.js
src/types/**/*
jest.config.cjs
jest.config.js
