/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 8px;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.8);
}

::-webkit-scrollbar-button {
    display: none;
}

/* 深色模式下的滚动条 */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: rgba(75, 85, 99, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 85, 99, 0.8);
  }
}

/* 当鼠标不在容器上时隐藏滚动条 */
.scroll-smooth {
  scrollbar-gutter: stable;
}

.scroll-smooth:not(:hover)::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox 滚动条样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
  }
} 

body {
  overflow: hidden;
}

.image-info-sidebar,
.video-info-sidebar {
  
}

